/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --color-text: #fff;
  --color-bg: #000000;
  --color-link: #ffffff;
  --color-link-hover: rgba(255, 255, 255, 0.6);
  --page-padding: 0.5rem;
  --aspect: 4/5;
  --grid-item-height: 20vh;
  --c-gap: 3rem;
  --r-gap: 3rem;
  --column: 80px;
  --column-count: 3;
  --border-radius: 4px;
  --cursor: url('/assets/cursor_0.png'), auto;
  --cursor--hover: url('/assets/cursor_1.png'), auto;
}

html {
  height: 100%;
  overflow-x: hidden;
  cursor: var(--cursor)
}

body {
  height: 100%;
  width: 100%;
  font-family: 'forma-djr-mono', sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Content */
.content {
	padding: 3em 0;
}

.section {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.section.section--intro {
	/* font-size: 3em; */
	position: relative;
	min-height: 100vh;
	text-align: center;
	color: #fff;
	/* background: #000000; */
}

.section--nav {
	position: relative;
	overflow: hidden;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.section__title {
	font-size: 0.65em;
	font-weight: 700;
	-webkit-flex: none;
	flex: none;
	margin: 3em 0 15em;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #d1d1d1;
}

.section--intro p {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 0.5em 0 0; /*TODO: padding of title*/
}

/* Mockup Slider */
.mockup-slider {
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffe7db;
    text-align: right;
}

.mockup-slider__title {
    
    font-size: 3em;
}

.mockup-slider__content {
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 1px;
	margin:0;
}

.split {
    position: relative;
    z-index: 1;
}

.nav {
    position: relative;
    z-index: 2000;
    pointer-events: auto;
}

.nav__item {
    position: relative;
    z-index: 2000;
    pointer-events: auto;
    cursor: var(--cursor--hover);
}

.scene {
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.down {
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.scene__title {
    position: relative;
    z-index: 2000;
    pointer-events: auto;
    cursor: var(--cursor--hover);
}

.scene__title a {
    pointer-events: auto;
    cursor: var(--cursor--hover);
}

